APP_PORT=8080

PG_USER=TonUserDB
PG_PASSWORD=TonMotDePasseDB
PG_HOST=TonHost
PG_PORT=5432
PG_DATABASE=TaDB

ENCRYPTION_ROUND=XX

JWT_SECRET=yourSecret
JWT_EXPIRATION=7200

SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=your_email@example.com
SMTP_PASS=your_secure_password
SMTP_FROM=no-reply@checkmate.api
